{:user-commits
 "query listRepos($queryString: String!, $afterPage: String) {
   rateLimit {
     cost
     remaining
     resetAt
   }
   search(query: $queryString, type: REPOSITORY, first: 100, after: $afterPage) {
     repositoryCount
     pageInfo {
       endCursor
       hasNextPage
     }
     edges {
       node {
         ... on Repository {
           id
           name
           createdAt
           description
           isArchived
           isPrivate
           url
           owner {
             login
             id
             __typename
             url
           }
           assignableUsers {
             totalCount
           }
           licenseInfo {
             key
           }
           defaultBranchRef {
             target {
               ... on Commit {
                 history {
                   totalCount
                   edges {
                     node {
                       ... on Commit {
                         committedDate
                         message
                       }
                     }
                   }
                 }
               }
             }
           }
         }
       }
     }
   }
 }"}
